html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
}

.footer {
    text-align: right;
    color: gray;
    font-size: .7rem;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
    margin: 3px 10px;
    border-top: 1px solid silver;
}

.footer a {
    font-style: italic;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
    position: relative;
    top: -1px;
}

.swagger-section #header, .topbar {
    background-color: gainsboro;
    border-bottom: 1px solid silver;
    height: 50px;
    padding: 9px 20px 19px;
    min-width: 775px
}

.swagger-section .logo__title {
    color: dimgray; margin-left: 13px;
    display: block;
}

.links .options {
    float: right;
    margin: 14px 10px 0 0;
    padding: 7px;
    color: gray;
    background-color: WhiteSmoke;
    border: 1px solid gainsboro;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    color: #3b4151;
}

.links ul.options {
    list-style-type: none;
}

.links li {
    margin: 4px 0;
}

.links .options a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
    font-size: .9rem;
    vertical-align: baseline;
}

.links .options a:hover {
    text-decoration: underline;
}

.swagger-section .swagger-ui-wrap h1 {
    color: #000;
    font-size: 1.5rem;
    line-height: 1.3rem;
    padding: 10px 0;
    font-family: Droid Sans,sans-serif;
    font-weight: 700
}

.swagger-section .swagger-ui-wrap {
    line-height: 1;
    font-family: Droid Sans,sans-serif;
    min-width: 760px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto
}

.swagger-section .swagger-ui-wrap b,.swagger-section .swagger-ui-wrap strong {
    font-family: Droid Sans,sans-serif;
    font-weight: 700
}

.swagger-section #header #logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff
}

.swagger-section #header #logo .logo__img {
    display: block;
    float: left;
    margin-top: 2px
}

.swagger-section #header #logo .logo__title {
    display: inline-block;
    padding: 5px 0 0 10px
}
